*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body{
    margin-top: 10vh;
    text-align: center;
    background: wheat;
}
h1{
    color:sienna;
}

.days{
    display:inline-block;
    margin: auto 65vh auto 65vh;
    border-radius: 1.5em;
    background-color: rgb(255,255,255,0.5);
    padding: 3vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.days input{
    margin: 10px;
    border: 1px solid saddlebrown;
    border-radius: 0.5em;
    padding: 5px;
}

span{
    color:brown;
}

#btnCompute, #btnClear {
    display: inline-block;
    padding: 5px;
    margin-left: 2vh;
    background: wheat;
    border: 1px solid saddlebrown;
    border-radius: 0.5em;
    cursor:pointer;
    color:sienna;
}

#btnCompute:hover, #btnClear:hover{
    transition:0.2s;
    color:darkgoldenrod;
    border-color:peru;
}

#average{
    background-color:blanchedalmond;
    color:brown;
    text-align: center;
}

p{
    display:inline;
    opacity:0.5;
    font-size:small;
}